@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import 'perfect-scrollbar';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'AvanteTitulInline';
    src: url('../fonts/AvanteTitulInline.ttf') format('truetype');
    font-display: 'swap';
  }

  html {
    @apply scroll-smooth text-[16px];
  }

  body {
    @apply bg-mge-darkblue bg-body bg-[length:44vw] bg-fixed bg-no-repeat font-sans text-mge-darkblue;
  }
}
